# _layouts/tag_index.html

---
layout: default2
---

<div>
  <center>
    <a title="Subscribe to {{ page.tag | upcase  }}" href="/tag/{{ page.tag  }}/feed.xml"><h2 style="background:#ad141e;border-radius: 20px;margin-bottom: 56px;color: white;" class="post_title"><i class="fa fa-rss"  style="font-weight: 600;color: white;"> {{ page.tag | upcase  }}</i></h2></a>
    <ul>
      {%  for post in site.posts  %}
      {%  for tag in post.tags  %}
      {%  if tag == page.tag  %}
        <li style="padding-top: 1rem;" class='post-list'>
          <a style="font-size:2rem" class="title" href="{{ post.url  }}">{{ post.title  }}</a><br>
          {{ post.date | date: "%b %-d, %Y"  }}<br>
          {%  for tag in post.tags  %}
            <a class="tags" href="/tag/{{ tag  }}">{{ tag  }}</a>
          {%  endfor  %}
        </li>
      {%  endif  %}
      {%  endfor  %}
      {%  endfor  %}
    </ul>
  </center>
</div>
